h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(185, 123, 243);
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px blueviolet
}

h2 {
    color: blue;
    font-size: 30px;
  }

h3 {
    color: blue;
    font-size: 20px;
  }

p {
    color: black;
}

p {
    font-size: 20px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    line-height: 2;
    letter-spacing: 1px;
  }

body {
    border: 1px solid black;
}

html {
    background-color: white;
  }